[Unit]
Description=zitefy
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=vishalds
Group=zitefy
ExecStart=/home/vishalds/server/zitefy
WorkingDirectory=/home/vishalds
EnvironmentFile=/etc/zitefy/env
Environment="PATH=/home/vishalds/.bun/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target